.restarentList_container{
    margin-top: 30px;
}

.restarent_title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    margin-bottom: 20px;
    border-radius: 10px;
}

.restarent_title_item{
    color: #3e4152;
    font-weight: 900;
    font-size: 1.3rem;
    display: inline-block;
    margin: 10px;
}

.upArrow{
    margin-right: 20px;
}