.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-img{
    display: flex;
    align-items: center;
    height: 70px;
}

.header-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}

.header-navigation>a{
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 18px;
}

.header-navigation>a:hover{
    color: #ff7e8b;
}





